In [8]:
import json
import os
import pandas as pd
from IPython.display import JSON
import sqlite3
from helpers.utilities import get_database_schemas,show_table_as_dataframe

# Workshop 4: DB Integration

In this workshop, we will explore a more complex usage of Function Calls in ChatCompletion using Azure OpenAI. Our focus will be on creating a chat interaction with the user that can perform database queries through function calls. This will allow us to see how we can seamlessly integrate database operations within a conversational interface.

We will cover the following steps:

1. **Define our database**: Set up a SQLite database to be queried.
2. **Create a simple function**: Write a Python function to query the database.
3. **Create JSON function tool for Azure OpenAI**: Define the function call structure in JSON format for Azure OpenAI.
4. **Use the function tool in the ChatCompletion request**: Implement the function call in the ChatCompletion API request.
5. **Create a chat loop that interacts with our new function**: Develop a chat loop that allows continuous interaction with the user, querying the database as needed.

We will use the imports, functions mentioned in workshop_1

In [9]:
from openai import AzureOpenAI

In [10]:
client = AzureOpenAI(
    azure_endpoint="https://testopenai4.openai.azure.com/",
    api_key="19f61bb2a418484dbe809cb720c2527b",
    api_version="2024-02-15-preview"
)

## 1. Define our database:
We will start by setting up a SQLite database that contains employee information. This database will be queried during our chat interactions.

The database schema will include a table named `Employees` with columns such as `id`, `first_name`, `last_name`, `phone_number`, `email_address`, `role`, `rank`, and `country`.

In [11]:
conn = sqlite3.connect("employees.db")
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [12]:
database_schema_dict, database_schema_string, role_values, rank_values, country_values = get_database_schemas(conn)
JSON(database_schema_dict)

In [13]:
show_table_as_dataframe(conn, "Employees").head(10)

,id,first_name,last_name,phone_number,email_address,role,rank,country
0,1,John,Doe,555-1234,john.doe@example.com,Manager,senior,US
1,2,Jane,Smith,555-5678,jane.smith@example.com,Developer,mid,UK
2,3,Alice,Johnson,555-8765,alice.johnson@example.com,HR,junior,IL
3,4,Bob,Brown,555-4321,bob.brown@example.com,Manager,mid,US
4,5,Carol,Davis,555-6789,carol.davis@example.com,Developer,senior,UK
5,6,Dave,Wilson,555-9876,dave.wilson@example.com,HR,mid,IL
6,7,Eve,Miller,555-3456,eve.miller@example.com,Manager,junior,US
7,8,Frank,Moore,555-6543,frank.moore@example.com,Developer,mid,UK
8,9,Grace,Taylor,555-7890,grace.taylor@example.com,HR,senior,IL
9,10,Hank,Anderson,555-0123,hank.anderson@example.com,Manager,senior,US

## 2. Creating a function:
Next, we will create a simple function named `ask_database` that takes a SQL query as input and returns the query results. This function will be used to interact with our SQLite database.

In [14]:
def ask_database(conn, query):
    """Function to query SQLite database with a provided SQL query."""
    try:
        results = str(conn.execute(query).fetchall())
    except Exception as e:
        results = f"query failed with error: {e}"
    return results

## 3. Creating a Function Call JSON

In this section, we create a JSON function tool for Azure OpenAI to define our `ask_database` function. This function is essential for querying the Employees database and requires a detailed description to ensure precise queries. The function JSON includes:

- Comprehensive information about the database schema, table names, and column details.
- Guidance on constructing fully formed SQL queries necessary for extracting the required information.
- Emphasis on the schema and possible values for each column.

This detailed description ensures:

- Clear guidance on structuring queries.
- Accurate and efficient data retrieval.
- Effective database interaction within the chat.

In [15]:
schedule_meeting_tool =     {
        "type": "function",
        "function": {
            "name": "ask_database",
            "description": f"""
                Use this function to query the Employees database.
                The database contains the following schema:
                {database_schema_string}
                Possible values for columns:
                - role: {', '.join(role_values)}
                - rank: {', '.join(rank_values)}
                - country: {', '.join(country_values)}
                The input should be a fully formed SQL query.
                """,
            "parameters": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": f"""
                                SQL query extracting info to answer the user's question.
                                SQL should be written using this database schema:
                                {database_schema_string}
                                The query should be returned in plain text, not in JSON.
                                """,
                    }
                },
                "required": ["query"],
            },
        }
    }

In [16]:
print(schedule_meeting_tool)

{'type': 'function', 'function': {'name': 'ask_database', 'description': '\n                Use this function to query the Employees database.\n                The database contains the following schema:\n                Table: Employees\nColumns: id, first_name, last_name, phone_number, email_address, role, rank, country\n                Possible values for columns:\n                - role: Manager, Developer, HR\n                - rank: senior, mid, junior\n                - country: IL, US, UK\n                The input should be a fully formed SQL query.\n                ', 'parameters': {'type': 'object', 'properties': {'query': {'type': 'string', 'description': "\n                                SQL query extracting info to answer the user's question.\n                                SQL should be written using this database schema:\n                                Table: Employees\nColumns: id, first_name, last_name, phone_number, email_address, role, rank, country\n                                The query should be returned in plain text, not in JSON.\n                                "}}, 'required': ['query']}}}

## 4. Using the function tool in ChatCompletion:
We will now use the JSON function tool we created in a ChatCompletion request. This involves sending a chat message that triggers the function call to query the database based on the user's input.

In [18]:
system_message = """
You are a helpful assistant capable of querying an SQLite database. The database contains information about employees with the following schema:

Table: Employees
Columns: id, first_name, last_name, phone_number, email_address, role, rank, country

Possible values for columns:
- role: Manager, Developer, HR
- rank: senior, mid, junior
- country: IL, US, UK

You can use the `ask_database` function to query the database. The input should be a fully formed SQL query.
"""
input_text = "what is the email of John Doe"
tools = [schedule_meeting_tool]

In [19]:
response = client.chat.completions.create(
    model = "gpt-35-turbo",
    messages = [{"role": "system", "content": system_message},
                {"role": "user", "content":input_text}],
    temperature= 0,
    tools=tools, 
    tool_choice="auto",
)
JSON(json.loads(response.model_dump_json()))

In [20]:
print(response.choices[0].message.role, ":",response.choices[0].message.content)
print("----------")
print(response.choices[0].message.tool_calls[0].function.name, ": with args:",response.choices[0].message.tool_calls[0].function.arguments)

assistant : None
----------
ask_database : with args: {
  "query": "SELECT email_address FROM Employees WHERE first_name = 'John' AND last_name = 'Doe'"
}

we get back the response and now we will pull out the tool calls:

In [22]:
tool_calls = response.choices[0].message.tool_calls[0]

if tool_calls:
    # To be able to use our tools we will need to create a mapping between the function name and the actual function object:
    available_functions = {
    "ask_database": ask_database
    }
    function_name = tool_calls.function.name
    function_arguments = json.loads(tool_calls.function.arguments)
    function_to_call = available_functions[function_name]
    function_response = function_to_call(
        conn= conn,
        query = function_arguments.get('query')
    )
function_response

"[('john.doe@example.com',), ('john.doe@example.com',)]"